.Footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 4rem;
  background-color: #1c1c1c;
}
.Footer span {
  margin-left: 5px;
  color: #72727e;
  font-size: 1.2rem;
  transition: 0.8s;
}
.Footer span:hover {
  color: #eee;
}
.Footer svg {
  width: 25px;
  margin-right: 4px;
  fill: #72727e;
}
.Footer svg:hover {
  fill: #eee;
  transition: 0.8s;
}
