.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.mobileButton {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}
.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 1.2s;
}
.mobileButton:focus,
.mobileButton:hover,
.mobileButtonAtivo {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #ffc125;
  border-color: white;
  color: #ffc125;
}
.mobileButtonAtivo::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}
.ulMobile {
  display: flex;
  list-style: none;
  position: relative;
  left: 300px;
  flex-direction: row;
  justify-content: right;
}
.ulMobile li {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.ulMobilestyle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  height: 5px;
  color: white;
  transform: translateX(-15px);
  opacity: 0;
}
.ulMobileAtivo:hover {
  color: #ffc125;
}
.ulMobileAtivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1.5s;
  height: 4rem;
  opacity: 1;
  z-index: 100;
}
.ulMobilestyle li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2rem;
  list-style: none;
  background: none;
}
