.Banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url(../img/cool-background.png);
  background-position: center;
  height: 190px;
}
.ButtonBanner {
  outline: none;
  padding: 1rem;
  border: none;
  border-radius: 10%;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 2, 42, 1) 37%,
    rgba(0, 99, 255, 1) 100%
  );
}
.ButtonBanner:hover {
  background: rgb(0, 21, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 21, 36, 1) 0%,
    rgba(25, 2, 42, 1) 37%,
    rgba(124, 0, 255, 1) 100%
  );
  transition: 1.8s;
}
