.banner {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #1c1c1c;
  background-image: url(../img/pexels-negative-space-169573-removebg-preview.png);
  background-repeat: no-repeat;
}

.banner h1 {
  margin-right: 8rem;
  font-size: 2.6rem;
}
.banner h2 {
  font-size: 3.5rem;
  margin-left: 8rem;
  color: #72727e;
}

.banner h3 {
  font-size: 2.2em;

  font-weight: bold;
  color: #cd853f;
  border-right: 5px solid #eee;
  white-space: nowrap;
  overflow: hidden;
}
.banner div a {
  position: relative;
  text-decoration: none;
  padding: 0.9rem;
  font-weight: bolder;
  border-radius: 15px;
  color: #eee;
  border: 1px solid #0e091b;
  transition: 1s;
}
.banner a:hover {
  background-color: #0e091b;
  box-shadow: 5px 5px 0px 0px #1e091b, 8px 9px 30px 0px #2e091b,
    15px 15px 0px 0px #1e091b, 20px 20px 9px 0px #2e091b,
    25px 25px 0px 0px #2e091b, 3px 23px 17px -11px rgba(0, 0, 0, 0);
}
