.Banner {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  max-height: 320px;
  width: 100%;
  align-content: space-between;
  border-bottom: 1px solid gray;
}
.ButtonBanner {
  height: 30px;
  width: 6rem;
  border: none;
  border-radius: 10%;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 2, 42, 1) 37%,
    rgba(0, 99, 255, 1) 100%
  );
  transition: 1.2s;
  grid-column-start: 2;
}
.ButtonBanner:hover,
.ButtonBanner:focus {
  outline: none;
  transition: 0.3s;
  box-shadow: 0 2px 0 1px gray;
}
.img {
  opacity: 0.5;
  width: 100px;
  grid-column-start: 6;
}
.img2 {
  opacity: 0.2;
  width: 140px;
  grid-column-start: 1;
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
}
