.Projetos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #0e091b;
}
.Projetos h2 {
  color: #72727e;
}
.Projetos p {
  color: #72727e;
  font-size: 1.2rem;
}
.projetosMomento {
  width: 100%;
  color: #72727e;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;

  padding: 1rem;
  margin-bottom: 1rem;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.projetos {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  color: #eee;
  border: 1px solid #72727e;
  align-items: center;
}
.link a {
  text-decoration: none;
  color: #72727e;
  transition: 0.4;
}
.criacao {
  width: 400px;
  border-radius: 10px;
  align-items: center;
}
.criacao p {
  background-color: #eee;
}

.botao {
  display: flex;
  justify-content: center;
}
.botao :hover {
  background: #cd853f;
  filter: drop-shadow(0 0 3rem #ffffe0);
}

.botao div {
  position: relative;
  padding: 0.5rem;
  width: 70px;
  margin: 1rem;
  color: #eee;
  border-radius: 10px;
  border: 1px solid #72727e;
  transition: 1s;
}

.svgGithub {
  padding: 6px;
  width: 4rem;
}
.SectionTexto {
  height: 100px;
  color: aqua;
  filter: drop-shadow(0 0 9rem #ffffe0);
}
