.Projetos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #1c1c1c;
}
.Projetos h2 {
  color: #eee;
}
.Projetos p {
  padding: 0.6rem;
  color: #72727e;
  font-size: 1.3rem;
}
.projetosMomento {
  width: 100%;
  color: #72727e;
}

.container {
  max-width: 300px;
  padding: 1rem;
  background-color: #2c1c1c;
  border-radius: 15px;
  margin-bottom: 1rem;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.link a {
  text-decoration: none;
  color: #72727e;
}
.criacao {
  width: 200px;
  border-radius: 10px;
  align-items: center;
}

.svgGithub {
  padding: 6px;
  width: 4rem;
}
