.container {
  background-color: #1c1c1c;
}
.cabec {
  color: #72727e;
}
.Tecnologias {
  display: flex;
  justify-content: space-evenly;
  transition: 2s;
}

.Tecnologias section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 1rem;
  color: #72727e;
  transition: 2s;
}

.Tecnologias section:hover {
  background-color: #0e091b;
  transition: 2s;
}
.Tecnologias section svg {
  width: 100px;
  height: 100px;
  fill: #eee;
  transition: 1s;
}
.Tecnologias section svg:hover {
  fill: #cd853f;
}
.TecnologiasMobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  padding: 1rem;
  color: #72727e;
}
.TecnologiasMobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.TecnologiasMobile section svg {
  width: 100px;
  height: 100px;
  fill: #eee;
  transition: 2s;
}
.TecnologiasMobile section svg:hover {
  fill: #cd853f;
}
