.container {
  background: #0e091b;
}
.svg {
  width: 400px;
}
.tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  height: 400px;
}
.tecnologiasMobile img {
  width: 10em;
}
.tecnologias img {
  border-radius: 90px;
  margin-top: 2rem;
  fill: aquamarine;
  width: 100px;
}

.cabec h1 {
  font-size: 30px;

  color: #72727e;
}
.cabec,
p {
  font-size: 20px;
  color: #72727e;
}
