.container {
  background-color: #1c1c1c;
}
.svg {
  width: 400px;
}
.tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  height: 400px;
}
.tecnologiasMobile img {
  width: 10em;
}
.tecnologias img {
  margin-top: 2rem;
  fill: #eee;
  width: 100px;
}

.cabec h1 {
  font-size: 30px;

  color: #eee;
}
.cabec,
p {
  font-size: 20px;
  color: #eee;
}
